version: 2.1
orbs:
  android: circleci/android@2.1.2

# Workflows orchestrate a set of jobs to be run;
workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build-and-unit-test
      - functional-test
 
jobs:
  build-and-unit-test:
    executor:
        name: android/android-machine
        resource-class: large
        tag: 2022.01.1
    working_directory: ~/code
    steps:
      - checkout
      - run:
          name: Download Codecov Uploader
          command: |
            curl -s https://codecov.io/bash > codecov;
            VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
            for i in 1 256 512
            do
              shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
              shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep -w "codecov")
            done
      - run:
          name: Run Unit Tests
          command: make ci-unit-test
      - store_test_results:
          path: code/android-messaging-library/build/test-results/testPhoneDebugUnitTest
      - run:
          name: Upload Core unit test coverage
          command: |
            bash ./codecov -v -X s3 -c -D "./code/android-messaging-library/build/reports/coverage/test/phone/debug" -F unit-tests

  functional-test:
    executor:
      name: android/android-machine
      resource-class: large
      tag: 2022.01.1
    steps:
      - checkout
      - android/start-emulator-and-run-tests:
          #   It should match the name seen in the "sdkmanager --list" output
          system-image: system-images;android-29;default;x86
          #   The command to be run, while waiting for emulator startup
          post-emulator-launch-assemble-command: make ci-build
          #   The test command
          test-command: make ci-functional-test
      # code coverage
      - run:
          name: Upload Functional Test Code Coverage Report
          command: |
            curl -s https://codecov.io/bash > codecov;
            VERSION=$(grep 'VERSION=\"[0-9\.]*\"' codecov | cut -d'"' -f2);
            for i in 1 256 512
            do
              shasum -a $i -c --ignore-missing <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM") ||
              shasum -a $i -c <(curl -s "https://raw.githubusercontent.com/codecov/codecov-bash/${VERSION}/SHA${i}SUM" | grep -w "codecov")
            done
            bash ./codecov -v -X s3 -c -D "./ci/functional-test/build/reports" -F functional-tests -t
      - store_artifacts:
          path: ci/functional-test/build/reports
      - store_test_results:
          path: ci/functional-test/build/outputs/androidTest-results
