# Remote action to execute e2e functional tests

name: E2E Functional Tests

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.
on:
  workflow_dispatch:
    inputs: 
      branch: 
        description: 'Branch to use when running functional tests'
        required: false
        default: 'feature/iam' # update this to main once feature/iam is merged to main
      id:
        description: 'Identifier for the run'
        required: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  functional-test:
    # The type of runner that the job will run on
    runs-on: macos-latest

    strategy:
      matrix:
        api-level: [29] # multiple api versions can be added if desired
        
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
    - name: ${{ github.event.inputs.id }}
      run: echo Run Identifier is ${{ inputs.id }}
      
    - name: Checkout
      uses: actions/checkout@v2.4.0
      with:
        ref: ${{ github.event.inputs.branch }}
        
    - name: Set up Java
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
        
    - name: Cache Gradle packages
      uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
        restore-keys: ${{ runner.os }}-gradle

    - name: AVD cache
      uses: actions/cache@v2
      id: avd-cache
      with:
        path: |
            ~/.android/avd/*
            ~/.android/adb*
        key: avd-${{ matrix.api-level }}

    - name: create AVD and generate snapshot for caching
      if: steps.avd-cache.outputs.cache-hit != 'true'
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.api-level }}
        target: ${{ matrix.target }}
        arch: x86
        profile: Nexus 6
        force-avd-creation: false
        emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
        disable-animations: true
        script: ./gradlew connectedCheck --stacktrace
    
    # Runs a single command using the runners shell
    - name: Execute functional tests
      run: make ci-functional-test
