<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MessagingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="AJO Lab" android:autoVerify="true" tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https"
                    android:host="messagingdemo"/>
            </intent-filter>
        </activity>
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver android:name=".NotificationBroadcastReceiver" />
        <receiver android:name=".NotificationDeleteReceiver" />
<!--        <meta-data-->
<!--            android:name="activityId"-->
<!--            android:value="xcore:offer-activity:13c2593fcbcfacbd"/>-->
<!--        <meta-data-->
<!--            android:name="placementId"-->
<!--            android:value="xcore:offer-placement:13d01b7516bf0613"/>-->
    </application>

        </manifest>